/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #458e2c #f0e9df;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: #f0e9df;
}

*::-webkit-scrollbar-track:hover {
  background-color: #e6ffe1;
}

*::-webkit-scrollbar-track:active {
  background-color: #cfbdb4;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #dfb07e;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bb825c;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #6a4125;
}
